body{
    display: flex;
    flex-direction: row;
    margin: 0%;
    background-color:rgb(152, 171, 172);
    background-repeat: no-repeat;
    background-size: cover;
}

#flex-container-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    width: 15%;
    height: 100vh;
    border-right: solid 3px aliceblue;
    background-color: rgb(41, 73, 74);
}

#flex-item-logo img{
    display: flex;
    border-radius: 5px;
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 15%;
}

#flex-item-nomeLoja p{
    text-align: center;
    font: italic 2rem monospace;
    color:aliceblue;
}

#flex-item-opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
    width: 100%;
}

#flex-item-opcoes a:hover{
    background-color: rgb(154, 175, 169);
    color: black;
}

.flex-subitem-menu{
    background-color: rgb(52, 91, 92);
    width: 100%;
    height: 8vh;
    font: normal 1rem Calibri;
    color: aliceblue;
    border-top: solid 1px rgb(35, 67, 68);
}

.flex-subitem-menu p{
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

#flex-container-menu a{
    text-decoration: none;
}

#flex-container-conteudo{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

/*COMEÇA O CÓDIGO PARTICULAR*/

/*Cadastro*/

#flex-item-cadastrar-produtos{
    display: flex;
    flex-direction: column;
    margin: 6% 10% 10% 30% ;
    border-radius: 5px;
    padding: 3%;
    height: 59vh;
    color: aliceblue;
    background-color: rgb(41, 73, 74);
}

.flex-subitem-organizacao-cadastro{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-bottom: 2%;
}

#flex-subitem-organizacao-cadastro input{
    height: 4vh;
    border-radius: 5px;
    border: solid 1px rgb(35, 67, 68);  
}

#flex-subitem-inputs-cadastro{
    font-size: 0.8rem;
    font-family: monospace;
    width: 40vw;
    margin-left: 6.5vw;
}

#flex-subitem-inputs-cadastro select{
    align-items: center;
    height: 4vh;
    width: 100%;
    margin-bottom: 2%;
    border-radius: 5px;
    border: solid 0px transparent;
}

.button-cadastro{
     width: 30%;
     height: 8%;
     color: rgb(105, 114, 107);
     border-radius: 5px;
     margin-left: 11.5vw;
     background-color: rgb(255, 255, 255);
     border: solid 0px transparent;
     box-shadow: -1px 3px 5px 0.5px rgba(0, 0, 0, 0.3);
    }
    
.button-cadastro input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: solid 0px transparent;
    margin: auto;
    background-color: transparent;
 }

#select-cadastro{
    background-color: rgb(154, 175, 169);
}

/*Edição*/ 

#flex-container-listar-produtos-edicao {
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 67, 68);
    margin: 0% auto 1% 20%;
    width: 70%;
    padding: 2%;
    border-radius: 5px;
    text-align: start;
}

#informacoes{
    background-color: rgb(154, 175, 169);
    width:60%;
    border-radius: 5px;
}

#flex-container-listar-produtos-edicao p{
    color:aliceblue;
    font: normal 13pt calibri;
}

#flex-container-listar-produtos-edicao span{
    color:darkmagenta;
    font: bold 13pt arial;
    margin: 2%;
}

.input-edicao input{
    background-color: rgb(154, 175, 169);
    border: none;
    border-radius: 5px;
    color:rgb(0, 0, 0);
    font: thin 13pt arial;
    width: 100%;
    height: 4rem;
    cursor: pointer;
    transition: bacground .3;
}

.input-edicao input:hover {
    background-color: rgb(52, 97, 99);
}

#editar:active{
    background-color: rgb(154, 175, 169);
}

#editar{
    margin: 5% 35% 0% 35%;
}

.modal{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: none;
    box-shadow: 0 0 0 2px;
}

.modal-conteudo{
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 5px;
    max-width: 40%;
    color: rgb(56, 58, 58);
    font: thin 2rem monospace;
    background-color: aliceblue;
    padding: 2% 2% 3% 8%;
}

.flex-subitem-organizacao-edicao{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-right: 20%;
}

.flex-subitem-organizacao-edicao input{
    border-radius: 5px;
    border: solid 1px rgb(35, 67, 68);
    background-color: rgb(67, 109, 110);
    color: white;
    margin-bottom: 2vh;
    width: 90%;
    height: 3vh;
}

#flex-item-filtros select{
    border-radius: 5px;
    border: solid 1px rgb(35, 67, 68);
    background-color: rgb(67, 109, 110);
    color: white;
    margin-bottom: 2vh;
    width: 82%;
    height: 3vh;
}

#flex-item-categoria{
    border-radius: 5px;
    border: solid 1px rgb(35, 67, 68);
    background-color: rgb(67, 109, 110);
    color: rgb(191, 194, 191);
    width: 80%;
}

.flex-subitem-organizacao-edicao input::placeholder{
    color: rgb(191, 194, 191);
}

#colocar-botao {
    margin-top: -3vh;
    height: 2rem;
}

#colocar-botao input{
    box-shadow: -1px 3px 5px 0.5px rgba(0, 0, 0, 0.3);
    height: 100%;
    background-color: rgb(200, 219, 213);
    margin-left: 10vw;
    border: none;
    width: 30%;
}

#select-edicao{
    background-color: rgb(154, 175, 169);
}

/*Listagem*/ 

#flex-container-listar-produtos-listagem {
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 67, 68);
    margin: 0% auto 1% 20%;
    width: 70%;
    padding: 2%;
    border-radius: 5px;
    text-align: center;
    margin-top: 6vh;
}

.listagem-table{
    width: 100%;
    box-shadow: -1px 3px 5px 0.5px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.5rem;
}

.listagem-table span{
    color:darkmagenta;
    font: bold 13pt arial;
}

.listagem-table img{
    margin-top: -4%;
    box-shadow: -1px 3px 5px 0.5px rgba(0, 0, 0, 0.3);
    width: 40%;
    height: auto;
}

.divProdutoTitulo {
    color: aliceblue;
}

.listagem-table td{
    background-color: rgb(218, 219, 215);
    padding: 1% 0% 1% 0%;
    width: 10%;
}

.tr_imagens{
    background-color: rgb(154, 175, 169);
    width: 10%;
}

.tr_imagens img{
    width: 20%;
    height: auto;
    align-items: center;
}

#select-listagem{
    background-color: rgb(154, 175, 169);
}


/*Perfil*/

#form{
    background-color: rgb(41, 73, 74);
    padding: 10%;
    padding-top: 5%;
    margin: 5% 12% auto 25%;
    border-radius: 5px;
    color: white;
    font: italic 15pt monospace;
}

.inputs-perfil input{
    width: 15%;
    height: 35px;
    margin-left: 2vw;
    border-radius: 5px;
    border: solid 0px transparent;
}

#inputChangeLogo, #inputChangeName, #inputChangeBackground{
    border-radius: 5px;
    margin-left: 0vw;
    width: 70%;
    height: 30px;
}

#select-perfil{
    background-color: rgb(154, 175, 169);
}


